.base-section {

  @media (min-width: $screen-md) {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
  }
  .sticky-wrapper {
    @media (min-width: $screen-md) {
      padding-top: 94px;
    }

    width: 100%;
    @media (min-width: $screen-md) {
      height: 100%;
      display: table-cell;
      height: 100%;
      width: 100%;
    }

    & > header {
      @media (min-width: $screen-md) {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      padding-bottom: 22px;

      background: #ffffff;
      border-bottom: 1px solid $base-border-color;
      padding-top: 17px;
      img {
        height: 50px;
      }
      @media (min-width: $screen-sm) {
        img {
          margin-left: -18px;
          margin-top: 4px;
        }
      }
    }
    &>[ui-view] {
      height: 100%;
    }
  }


  .language-block {
    padding-top: 14px;
    @media (min-width: $screen-sm) {
      padding-left: 70px;
      padding-right: 0;
    }
    .chosen-single {
      height: 32px;
      line-height: 33px;
      font-weight: 400;
      color: #555555;
    }
    .chosen-results li {
      line-height: 32px;
    }
  }
}

footer.global {
  width: 100%;
  background: #211b16;

  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  padding-top: 35px;
  padding-bottom: 10px;
//  bottom: 0;
//  left: 0;
//  position: absolute;
  p {
    margin: 0;
  }
  a {
    color: #ffffff;
    text-decoration: underline;
    display: inline-block;
    margin: 0 4px;
    &:first-child {
      margin-left: 0;
    }
  }

  .row {
    margin-bottom: 30px;
  }

  .social {
    font-size: 18px;
  }
}