.form-section {
  background: #d1dbde;
  height: 100%;
  .container {
    height: 100%;
    background: #ffffff;
    border-left: 1px solid $base-border-color;
    border-right: 1px solid $base-border-color;
  }

  label {

    color: #000000;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
  }

  .titles {
    &.ptn {
      padding-top: 9px !important;
    }
    padding-left: 9px;
    padding-top: 16px;
    margin-bottom: 26px;
    h2 {

      color: #000000;
      font-size: 22px;
      font-weight: 600;
      text-align: left;
      margin-bottom: 1px;
      text-transform: uppercase;
    }
    p {

      color: #555555;
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
      text-align: left;
    }
  }
  .has-icon {
    padding-left: 40px;
  }
  .posr {
    position: relative;
  }
  .icon {
    position: absolute;
    top: 0;
    height: 40px;
    left: 13px;
    &-password {
      background: url(../images/password-icon.png) no-repeat center center;
      width: 15px;
    }
  }

  .form-group {
    @media (min-width: $screen-sm) {
      padding-left: 9px;
    }
    margin-bottom: 28px;
    label {
      margin-bottom: 7px;
    }
    .col-xs-6, .col-xs-12 {
      padding-left: 0;
    }
  }
  .postcode {
    padding-left: 15px;
  }
  @media (min-width: $screen-sm) {
    .pl25 {
      padding-left: 25px;
    }
  }
  .btn-primary {
    height: 40px;

    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
  }
  .btn-success {
    text-transform: uppercase;

    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    margin: 3px 0 40px;
  }
  label.checkbox {
    position: relative;
    margin-top: 0;
    padding-left: 29px;
    line-height: 20px;
    margin-bottom: 5px;

    &::before {
      position: absolute;
      left: 0;
      top: 2px;
      content: '';
      border-radius: 4px;
      background-color: #ffffff;
      width: 15px;
      height: 15px;
      border: 1px solid $base-border-color;
      display: block;
      text-align: center;
      line-height: 15px;
      color: darken($base-border-color, 30%);
    }
    &.checked {
      &::before {
        content: '\2714';
      }
    }
    input {
      display: none;
    }
  }
  &.step2 {
    .titles {
      margin-bottom: 19px;
    }
    .form-group {
      margin-bottom: 26px;
    }
    .pt13 {
      padding-top: 13px;
    }
    .mb23 {
      margin-bottom: 23px;
    }
  }
}
