.login-section {
  padding-top: 50px;
  h2 {
    color: #000000;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 21px;
    margin-top: 31px;
  }

  form {
    margin: 0 auto;
    padding: 21px;
    max-width: 370px;
    background: $login-bg;
    border: 1px solid $login-borders;
  }

  label {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
  }

  .form-group {
    margin-bottom: 30px;
  }

  button {
    padding: 16px 0 13px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
//    margin-top: 44px;
    margin-bottom: 20px;
  }
  a {
    color: #2c709f;
    font-size: 15px;
    font-weight: 600;
  }
  .pr0 {
    padding-right: 0;
  }
  .pl0 {
    padding-left: 0;
  }
  @media (max-width: $screen-md) {
    .text-right {
      text-align: left;
      padding-left: 15px;
    }
  }
  padding-bottom: 40px;
}
