.portal-section {
  min-height: 100%;

  .info-item {
    margin-bottom: 5px;
  }
  background: #d1dbde;
  height: 100%;
  .pb20 {
    padding-bottom: 20px;
  }
  .title {

    color: #000000;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin: 25px 0 26px;
  }

  .subtitle {

    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    &:first-child {
      margin-top: 5px;
    }
  }
  .form-group {
    margin-bottom: 30px;
  }
  .profile {
    .form-group {
      margin-bottom: 15px;
    }
  }
  .form-control {
    margin-bottom: 10px;
  }
  .container {
    @media (min-width: $screen-md) {
      display: table;
    }
    background: #ffffff;
    border-right: 1px solid $base-border-color;
    border-left: 1px solid $base-border-color;
    @media (max-width: $screen-md) {
      border: 0;
    }

    padding: 0;
    height: 100%;
    min-height: 100%;
    & > .row {
      @media (max-width: $screen-md) {
        margin: 0;
      }
      @media (min-width: $screen-md) {
        display: table-row;
        & > .col-xs-12 {
          display: table-cell;
          height: 100%;
          float: none;
          vertical-align: top;
          padding-bottom: 20px;
        }
      }
    }

  }

  .content {
    padding-left: 35px;
  }

  aside {
    background: #eaeeef;
    padding: 15px 0 20px;
    border-right: 1px solid $base-border-color;
    @media (max-width: $screen-md) {
      border-right: 0;
    }
    .np {
      padding-left: 0 !important;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      .heading {
        margin-top: 8px;
        &:first-child {
          margin-top: 0;
        }

        color: #2c709f;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 40px;
        padding-left: 28px;
        border-left: none !important;
        a {
          color: #2c709f;
          padding-left: 27px;
        }
        i {
          position: relative;
          left: -8px;
          top: 2px;
        }
      }
      li {
        border-left: 7px solid transparent;
      }
      a {
        padding-left: 40px;

        color: #333333;
        font-size: 14px;
        font-weight: 600;
        line-height: 38px;
        text-decoration: none !important;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        display: block;
      }
      .active, li:hover {
        border-left: 7px solid #211b16;
        a {
          background: #d2dcdf;
          border-top: 1px solid $base-border-color;
          border-bottom: 1px solid $base-border-color;
        }
      }
    }
  }
  .text-left {
    text-align: left !important;
    padding-left: 20px;
  }

  .table-portal {
    border-collapse: separate;
    thead {
      th {
        background: #778085;
        border-bottom: 0;
        text-align: right;

        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        &:first-child {
          border-top-left-radius: 3px;
        }
        &:last-child {
          border-top-right-radius: 3px;
        }
      }
    }
    tbody {
      tr:last-child {
        border-radius: 0 0 3px 3px;
        td {
          &:first-child {
            border-bottom-left-radius: 3px;
          }
          &:last-child {
            border-bottom-right-radius: 3px;
          }
        }

      }
      td {
        border: 0 solid $base-border-color;
        border-bottom-width: 1px;
        &:first-child {
          border-left-width: 1px;
        }
        &:last-child {
          border-right-width: 1px;
        }
        vertical-align: middle;
        text-align: right;
        height: 53px;
        &:last-child {
          padding-right: 20px;
        }
      }
    }
    a {

      color: #2c709f;
      font-size: 14px;
      font-weight: 600;
      text-align: left;
    }
  }

  .sprite {
    background: url(../images/icons-s.png) no-repeat top left;
    display: inline-block;
  }

  .sprite-download {
    width: 15px;
    height: 15px;
    background-position: -8px -8px;
  }

  .sprite-fail {
    width: 14px;
    height: 14px;
    background-position: -39px -8px;
  }

  .sprite-logout {
    width: 15px;
    height: 15px;
    background-position: -39px -38px;
  }

  .sprite-ok {
    width: 16px;
    height: 14px;
    background-position: -69px -8px;
  }

  .sprite-payment {
    width: 16px;
    height: 16px;
    background-position: -70px -38px;
  }

  .sprite-profile {
    width: 17px;
    height: 16px;
    background-position: -8px -70px;
  }

  .sprite-trading {
    width: 17px;
    height: 15px;
    background-position: -41px -70px;
  }
  label {
    text-transform: uppercase;
  }

  .accounts-add {
    .types {
      margin-bottom: 20px;
    }
    .btn-type {
      margin-bottom: 10px;
      width: 100%;
      border-radius: 4px;
      background-color: #e9edee;
      height: 75px;
      text-align: left !important;
      border: 1px solid $base-border-color;
      &.current {
        span {
          &::after {
            content: '';
            border-radius: 50%;
            background-color: #2b6797;
            width: 8px;
            height: 8px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -4px;
            margin-left: -4px;
          }
        }
      }
      span {
        display: inline-block;
        border: 1px solid $base-border-color;
        border-radius: 50%;
        background-color: #ffffff;
        width: 20px;
        height: 20px;
        position: relative;
        margin-bottom: -6px;
        margin-right: 10px;
      }
    }
  }
  .btn-success {
    padding: 13px 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  .profile {
    button {
      margin-top: 8px;
    }
    .btn-cancel {
      background: transparent;
      color: $btn-success-bg;
      border: 1px solid $btn-success-bg;
    }

    p {

      color: #333333;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
    }
    .field_name, label {
      line-height: 24px;
      text-transform: uppercase;

      color: #000000;
      font-size: 15px; /* Приближение из-за подстановки шрифтов */
      font-weight: 600;
    }

    .form-group {
      margin-bottom: 28px;
      label {

        color: #000000;
        font-size: 13px;
        font-weight: 600;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 7px;
      }
    }
  }
  .deposit {
    .chosen-container {
      width: 180px !important;
    }
    iframe {
      margin-top: 20px;
      width: 100%;
      height: 732px;
    }
  }
  .withdraw {
    .alert-warning {
      border: 0;
      margin-top: 20px;
      background-color: #fff7a7;
      text-transform: uppercase;
      text-align: left;
      padding: 12px 15px;

      a {
        color: #000000;
        text-decoration: underline;
      }
      img {
        margin-top: -2px;
        margin-right: 10px;

      }

      color: #333333;
      font-size: 12px;
      font-weight: 600;
    }
    .data-row {
      margin-bottom: 20px;
      line-height: 40px;

      color: #000000;
      font-size: 15px;
      font-weight: 600;
    }
    .input-wrapper {
      position: relative;
      input {
        padding-left: 25px;
        margin-bottom: 0;
      }
      .help-block {
        line-height: 14px;
        padding: 3px;
        text-align: center;
      }
      i {
        font-size: 15px;
        position: absolute;
        top: 13px;
        left: 13px;
        color: #555;
      }
    }
  }

  .internal {
    label {

      color: #000000;
      font-size: 15px;
      font-weight: 600;
      text-align: left;
    }
    .data-row {
      margin-bottom: 20px;
      line-height: 40px;

      color: #555555;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .upload {
    .col-380 {
      margin-left: 20px;
      width: 380px;
      float: left;
      @media (max-width: $screen-md) {
        width: 100%;
        margin-bottom: 20px;
        @include make-xs-column(12, 0);
        margin-left: 0;
      }
    }
    .col-205 {
      float: left;
      margin-left: 20px;
      width: 190px;
      min-height: 225px;

      color: #000000;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      padding: 15px 20px;
      background: #eef1f2;

      @media (max-width: $screen-md) {
        width: 100%;
        min-height: 100%;
        margin-left: 0;
      }

      ul {
        margin: 0;
        padding: 0 15px;
      }
    }

    .document-block {
      min-height: 360px;
      margin-top: 30px;
      border-radius: 4px;
      border: 1px solid $base-border-color;
      padding-bottom: 20px;
      @media (max-width: $screen-md) {
        padding: 0 20px 20px;

      }
      h3 {

        color: #000000;
        font-size: 22px;
        font-weight: 600;
        text-align: left;
      }
      & > p {

        color: #555555;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        margin-bottom: 20px;
      }
    }

    .file-uploaded {
      background: url(../images/document-uploaded.png) no-repeat;
      width: 380px;
      height: 225px;
      margin: 0 auto;
      .name {
        padding-top: 120px;

        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
      }
      .remove-file {
        margin-top: 50px;
        text-align: center;
        a {
          text-decoration: none !important;

          color: #ffffff;
          font-size: 11px;
          font-weight: 400;
          line-height: 24px;
        }
      }

      @media (max-width: $screen-sm) {
        width: 286px;
        background-size: 100% auto;
        height: 170px;
        .name {
          padding-top: 90px;
        }
        .remove-file {
          margin-top: 30px;
        }
      }
    }

  }

  .upload-section {
    margin-left: -5px;
    padding-right: 5px;
  }
  .mr20 {
    margin-right: 20px;
  }
  .ttu {
    text-transform: uppercase;
  }
}

.scroll-x {
  @media (max-width: $screen-md) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
    }

    td {
      /* Behave like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50% !important;
      white-space: normal;
      text-align: left !important;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
    }

    /*
    Label the data
    */
    td:before {
      content: attr(data-title);
    }
  }
}

.mb-n {
  margin-bottom: 5px !important;
}

.mt-xs {
  margin-top: 10px;
}
