@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext);
@import "fonts";
@import "intelTelInput";
@import "variables";


// Core variables and mixins
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
// Reset and dependencies
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";
// Core CSS
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";
// Components
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/wells";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/close";
// Components w/ JavaScript
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
// Utility classes
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";

@import "partials/dropzone";
@import "partials/top-bar";
@import "sections/login";
@import "sections/base";
@import "sections/form";
@import "modules/chosen";

html, body {
  height: 100%;
}

body {
  @media (min-width: $screen-md) {
    padding-top: 47px;
  padding-bottom: 220px;
  }

  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.container {
  @media (max-width: $screen-sm) {
    width: 100%;
  }
  min-width: 320px;
}

.form-control {
  border: 1px solid $login-borders;
  background: #ffffff;
  box-shadow: none;
  height: 40px;


  color: #000000;
  font-size: 15px; /* Приближение из-за подстановки шрифтов */
  font-weight: 600;
}

.has-error {
  .help-block {
    line-height: 20px;
    background: #ffdadb;
    border-radius: 3px;


    color: #b01b13;
    font-size: 11px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 9px;
    margin-top: 0;
  }
}



pre.debug {
  position: fixed;
  top: 50px;
  left: 0;
  height: 400px;
  width: 400px;
  overflow: auto;
}

.modal-backdrop {
  bottom: 0;
  height: 100%;
  position: fixed;
}

.modal {
  .modal-header {
    border-bottom: none;
    padding: 10px 15px;
  }
}

custom-select, custom-input {
  display: block;
}

.form-control {
  font-family: "Open Sans", sans-serif!important;
}

button:focus {
  outline:0 !important;
}