@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/proximanova-regular-webfont.woff2') format("woff2"), url('../fonts/proximanova-regular-webfont.woff') format("woff"), url('../fonts/proximanova-regular-webfont.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximanova-light-webfont.eot');
  src: url('../fonts/proximanova-light-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/proximanova-light-webfont.woff2') format("woff2"), url('../fonts/proximanova-light-webfont.woff') format("woff"), url('../fonts/proximanova-light-webfont.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/proximanova-bold-webfont.woff2') format("woff2"), url('../fonts/proximanova-bold-webfont.woff') format("woff"), url('../fonts/proximanova-bold-webfont.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximanova-semibold-webfont.eot');
  src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/proximanova-semibold-webfont.woff2') format("woff2"), url('../fonts/proximanova-semibold-webfont.woff') format("woff"), url('../fonts/proximanova-semibold-webfont.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
}