$background-color: #fff;
$font-family-sans-serif: 'Open Sans', 'ProximaNova', sans-serif;

$btn-success-bg: #008f00;
$btn-success-border: transparent;

$input-border-radius: 3px;
$border-radius-base: 3px;

//Login section
$login-bg: #d2dcdf;
$login-borders: darken(#d2dcdf, 5%);

$base-border-color: #c1cdd1;

$modal-title-padding: 10px;

$container-large-desktop: 960px;
//** For `$screen-lg-min` and up.
$container-lg: $container-large-desktop ;