<!DOCTYPE html>
{% load staticfiles %}

<html ng-app="requestsapp">
<head lang="en">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "/static/css/bootstrap.css" %}">
    <script src="{% static "/static/js/bootstrap.js" %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-cookies.min.js"></script>
    <script src="https://code.angularjs.org/1.3.14/angular-resource.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
    <script src="{% static "/static/js/ng-infinite-scroll.min.js" %}"></script>
    <script src="{% static "/static/js/script.js" %}"></script>
    <script src="{% static "/static/js/fix_scroll.js" %}"></script>
   

    <meta charset="UTF-8">
    <title>Request system</title>
</head>
<body ng-controller="mainCtrl">


{% block head %}
{% endblock %}




{% block content %}
{% endblock %}


</body>
</html>