{% extends 'main.html' %} {% block head %}
<div class="container">

    <div class="row">

        <h3><a href="#/requests">Request system</a></h3>

        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                        <span class="sr only">Open navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse " id="responsive-menu">
                    <ul class="nav navbar-nav">
                        {% if user.is_anonymous %}
                        <!-- <li><a  href="/">Home</a> </li> -->
                        {% else %}

                        <!-- <li><a href="/">Home</a></li> -->

                        <li><a href="#/requests" ng-click="switch_show()">Home</a>
                        </li>
                        <!-- <li><a href="/add_request/">Add request</a></li> -->
                        <li><a href="#/create_request" ng-click="switch_create()">Add
                                request</a>
                        </li>
                        <li><a href="#/create_performer">Add
                                performer</a>
                        </li>
                        <li><a href="#/performers_stat" ng-click="switch_performer_stat()">Performers requests</a>
                        </li>

                        <li><a href="/logout/">Logout</a>
                        </li>
                        {% endif %}
                    </ul>

                </div>
            </div>

        </div>

    </div>


    <div class="row">
        <ng-view></ng-view>
        <div ng-controller="displayCtrl">
        <script type="text/ng-template" id="displayRequests">
            <div infinite-scroll="PagingFunction()" infinite-scroll-distance="1" class="panel panel-default">
                
                    {% include 'request_rest_api/index_angular.html' %}
                
            </div>
            </script>

            <!-- <div ng-show="switch_interface==5"> -->
            <script type="text/ng-template" id="perfStat">
                {% include 'request_rest_api/performers_stat.html' %}
            </script>
            <!-- </div> -->
        </div>

        <div ng-controller="changedataCtrl">




            <!-- <div ng-show="switch_interface==2"> -->
            <script type="text/ng-template" id="createRequest">
                {% include 'request_rest_api/create_req.html' %}
            </script>
            <!-- </div> -->
            <!-- <div ng-show="switch_interface==3"> -->
            <script type="text/ng-template" id="editRequest">
                {% include 'request_rest_api/edit_req.html' %}
            </script>
            <!-- </div> -->
            <!-- <div ng-show="switch_interface==4"> -->
            <script type="text/ng-template" id="createPerformer">
                {% include 'request_rest_api/create_performer.html' %}
            </script>
            <!-- </div> -->

        </div>

    </div>
    {% endblock %}
