 {% block create_performer %}
    {% verbatim %}

<form class="form-group" id="add_request" name="createperfForm" novalidate
          ng-submit="create_performer()">
<div class="row">
	<div class="col-lg-2 col-lg-offset-2"><span class="glyphicon glyphicon-user"></span> Performer:<br>
	<input type="text" name="performerInput" placeholder="Enter the name" class="form-control" ng-model="answ.name" required />
<span class="text-danger" ng-show="createperfForm.performerInput.$error.required && createperfForm.performerInput.$dirty">Enter this field please</span>

<span class="text-danger" ng-show="error.name">{{error.name[0]}}</span>

<p></p>
	<button class="btn btn-primary" type="submit" ng-disabled="createperfForm.$invalid"><span
                class="glyphicon glyphicon-plus"></span>
                Create
        </button>
         
        
	</div>
</div>


</form>

{% endverbatim %}
{% endblock %}