
    {% verbatim %}

<form class="form-group" id="add_request" name="createreqForm" novalidate
          ng-submit="create_request()">
<div class="row">

	<div class="col-lg-4 col-lg-offset-4">
                <div class="alert alert-danger" ng-hide="createreqForm.$valid">
                    The <b>form</b> is <b>not</b> valid.
                </div>
                <div class="alert alert-success" ng-show="createreqForm.$valid">
                    <p ng-hide="answer_num_req.n_request">The <b>form</b> is <b>valid.</b></p>
                </div>
    </div>
</div>
<div class="row">
	<div class="col-lg-2 col-lg-offset-2"><span class="glyphicon glyphicon-user"></span> Applicant:<br>
            <input ng-model="answer.applicant" name="applicantInput" type="text" class="form-control ng-dirty ng-invalid" required>
             <span class="text-danger" ng-show="createreqForm.applicantInput.$error.required && createreqForm.applicantInput.$dirty">Enter this field please</span>

    </div>
    <div class="col-lg-2 col-lg-offset-4">Request <b>#</b>:<br> <input ng-model="answer.n_request"
                                                                        class="form-control ng-dirty ng-invalid"
                                                                        name="n_requestInput"
                                                                        ng-pattern="/^\d+$/"
                                                                        required>
              <span class="text-danger" ng-show="createreqForm.n_requestInput.$error.pattern && createreqForm.n_requestInput.$dirty">Must contain only numbers</span>
              <span class="text-danger" ng-show="createreqForm.n_requestInput.$error.required && createreqForm.n_requestInput.$dirty">Enter this field please</span>
             <span class="text-danger" ng-show="error.n_request">{{error.n_request[0]}}</span>
    </div>
</div>
<div class="row">
	<div class="col-lg-2 col-lg-offset-8"><span class="glyphicon glyphicon-time"></span> Date supply:<br>
        <p class="input-group">
        <input type="text" placeholder="Date supply" class="form-control" datepicker-popup="" ng-model="answer.date_supply" is-open="datesup" ng-click="datesup=true" name="dateField" required>
                   <!--  <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open_sup($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span> -->
        </p>
        
       <span class="text-danger" ng-show="createreqForm.dateField.$error.date && createreqForm.dateField.$dirty">Must be a date in the format: yyyy-MM-dd</span>
      <span class="text-danger" ng-show="error.date_supply">{{error.date_supply[0]}}</span>
    </div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		Text of the request:<br>
		<textarea type="textarea" rows="5" ng-model="answer.request_text"
    		  class="form-control ng-dirty ng-invalid" name="textInput"
    		  required>
        </textarea>

	</div>
</div>
<div class="row">

	<div class="col-lg-2 col-lg-offset-2"><span class="glyphicon glyphicon-user"></span> Performer:<br>
        <select ng-model="answer.performer_not_admin" class="form-control"
                ng-options="p.pk as p.name for p in performers">
        </select>
	</div>
    <div class="col-lg-2"><span class="glyphicon glyphicon-user"></span> Admin performer:<br>
        <select ng-model="answer.performer" class="form-control" required
                ng-options="p.pk as p.username for p in users">
        </select>
    </div>

	<div class="col-lg-2 col-lg-offset-2"><span class="glyphicon glyphicon-time"></span> Term of request:<br>
<p class="input-group">
<input type="text" placeholder="Date supply" class="form-control" datepicker-popup="" ng-model="answer.date_term" is-open="dateterm" ng-click="dateterm=true" name="date_supplyField" required>
                    <!-- <input type="text" placeholder="Date supply" class="form-control" datepicker-popup="" ng-model="answer.date_term" is-open="opened_term" ng-click="opened_term=true" name="date_supplyField" required />
 -->
                    <!-- <span class="input-group-btn"> -->
              <!-- <button type="button" class="btn btn-default" ng-click="open_t($event)"> -->
                <!-- <i class="glyphicon glyphicon-calendar"></i> -->
              <!-- </button> -->
            <!-- </span> -->
        </p>
        <span class="text-danger" ng-show="createreqForm.date_supplyField.$error.date && createreqForm.date_supplyField.$dirty">Must be a date in the format: yyyy-MM-dd</span>
    </div>
</div>    
<div class="row">
	<div class="col-lg-2 col-lg-offset-2">
	<p> </p>
    
        
        <button class="btn btn-primary" type="submit" ng-disabled="createreqForm.$invalid">
                Create
        </button>
        
        <button class="btn btn-danger" type="reset" ng-click="clear_answer()">
        Clear form
        </button>
    </div>
    <div class="col-lg-2 col-lg-offset-4">Ready request <b>#</b>:
    
    	<input ng-model="answer.n_ready" class="form-control"
        name="n_readyInput"
        ng-pattern="/^\d+$/"
        >
        <span class="text-danger" ng-show="createreqForm.n_readyInput.$error.pattern && createreqForm.n_readyInput.$dirty">Must contain only numbers</span>
        <span class="text-danger" ng-show="error.n_ready">{{error.n_ready[0]}}</span>
	</div>
</div>
</form>


{% endverbatim %}
