{% verbatim %}

<form class="form-group" id="add_request" name="editreqForm"
      ng-submit="change_request(get_req, editForm)" novalidate>
    <div class="row">
        <div class="col-lg-2 col-lg-offset-2"><span
                class="glyphicon glyphicon-user"></span> Applicant:<br>
            <input ng-model="get_req.applicant" type="text"
                   class="form-control ng-dirty ng-invalid"
                   name="applicantInput" required>

            <span class="text-danger"
                  ng-show="editreqForm.applicantInput.$error.required && editreqForm.applicantInput.$dirty">Enter this field please</span>
        </div>
        <div class="col-lg-2 col-lg-offset-4">Request <b>#</b>:<br>
            <input
                ng-model="get_req.n_request"
                class="form-control ng-dirty ng-invalid"
                ng-pattern="/^\d+$/"
                name="n_requestInput"
                required>
            <span class="text-danger"
                  ng-show="editreqForm.n_requestInput.$error.pattern && editreqForm.n_requestInput.$dirty">Must contain only numbers</span>
            <span class="text-danger"
                  ng-show="editreqForm.n_requestInput.$error.required && editreqForm.n_requestInput.$dirty">Enter this field please</span>
            <span class="text-danger" ng-show="error_put.n_request">{{error_put.n_request[0]}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-lg-offset-8"><span
                class="glyphicon glyphicon-time"></span> Date supply:<br>

            <p class="input-group">
                <input type="text" placeholder="Date supply"
                       class="form-control" datepicker-popup=""
                       ng-model="get_req.date_supply" is-open="opened_supply"
                       ng-click="opened_supply=true" name="dateField"/>

            </p>
            <span class="text-danger"
                  ng-show="editreqForm.dateField.$error.date && editreqForm.dateField.$dirty">Must be a date in the format: yyyy-MM-dd</span>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-8 col-lg-offset-2">
            Text of the request:<br>
        <textarea type="textarea" rows="5" ng-model="get_req.request_text"
                  class="form-control ng-dirty ng-invalid"
                  required>
        </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-lg-offset-2"><span
                class="glyphicon glyphicon-user"></span> Performer:<br>
            <select ng-model="get_req.performer_not_admin" class="form-control"
                    ng-options="p.pk as p.name for p in performers">
            </select>
        </div>
        <div class="col-lg-2"><span class="glyphicon glyphicon-user"></span>
            Admin performer:<br>
            <select ng-model="get_req.performer" class="form-control" required
                    ng-options="p.pk as p.username for p in users">
            </select>
        </div>

        <div class="col-lg-2 col-lg-offset-2"><span
                class="glyphicon glyphicon-time"></span> Term of request:<br>

            <p class="input-group">
                <input type="text" placeholder="Date supply"
                       class="form-control" datepicker-popup=""
                       ng-model="get_req.date_term" is-open="opened_term"
                       ng-click="opened_term=true" name="date_supplyField"
                       required/>

            </p>
            <span class="text-danger"
                  ng-show="editreqForm.date_supplyField.$error.date && editreqForm.date_supplyField.$dirty">Must be a date in the format: yyyy-MM-dd</span>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-lg-offset-2">
            <p></p>
            <button class="btn btn-success" type="submit"
                    ng-disabled="editreqForm.$invalid"
                    ><span
                    class="glyphicon glyphicon-edit"
                    ></span>
                Save
            </button>
        </div>
        <div class="col-lg-2 col-lg-offset-4">Ready request <b>#</b>:

            <input ng-model="get_req.n_ready"
                   name="n_readyInput"
                   ng-pattern="/^\d+$/"
                   class="form-control">
           <span class="text-danger"
                  ng-show="editreqForm.n_readyInput.$error.pattern && editreqForm.n_readyInput.$dirty">Must contain only numbers</span>
            <span class="text-danger"
                  ng-show="editreqForm.n_readyInput.$error.required && editreqForm.n_readyInput.$dirty">Enter this field please</span>
            <span class="text-danger" ng-show="error_put.n_ready">{{error_put.n_ready[0]}}</span>

        </div>
    </div>
</form>


{% endverbatim %}

