
{% verbatim %}

<div class="panel-heading">
    <div class="row">
        <div class="col-md-2">Ticket system</div>
        <div ng-show="requests_count" class="col-md-2 pull-right">
            <b>Displayed:</b> <span
                class="label label-info">{{requests_count}} </span>
        </div>
        <div ng-hide="requests_count" class="col-md-2 pull-right">
            <b>No requests to display</b>
        </div>
    </div>
</div>
<div class="panel-body">

    <div class="row">

        <div class="col-md-2">
            <input placeholder="Text only search" class="form-control"
                   ng-model="filter.request_text"
                   ng-change="get_allreq_after(true)">
        </div>
        <div class="col-md-2">
            <input ng-model="filter.performer_not_admin" placeholder="Perfomer"
                   ng-change="get_allreq_after(true)"
                   class="form-control">
        </div>
        <div class="col-md-2">
            <input placeholder="Applicant search" class="form-control"
                   ng-model="filter.applicant"
                   ng-change="get_allreq_after(true)">
        </div>
        <div class="col-md-2">
            <input placeholder="Request #" class="form-control"
                   ng-model="filter.n_request"
                   ng-change="get_allreq_after(true)">

        </div>
        <div class="col-md-2">
            <input placeholder="Ready request #" class="form-control"
                   ng-model="filter.n_ready"
                   ng-change="get_allreq_after(true)">
        </div>


    </div>
    <div class="row">
        <p></p>

    </div>
    <div class="row">

        <div class="col-md-3 col-md-offset-4">
            <p class="input-group">

                <input type="text" placeholder="Date supply"
                       class="form-control" datepicker-popup=""
                       ng-model="filter.date_supply" is-open="opened_supply"
                       ng-click="opened_supply=true"
                       ng-change="get_allreq_after(true)" disabled>

                    <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                      ng-click="open_sup($event)">
                  <i class="glyphicon glyphicon-calendar"></i>
              </button>
              <button class="btn btn-danger" type="reset"
                      ng-click="clean_date_search()">
                  <i class="glyphicon glyphicon-remove"></i>
              </button>
            </span>
            </p>

        </div>
        <div class="col-md-3">
            <p class="input-group">

                <input type="text" placeholder="Date term" class="form-control"
                       datepicker-popup=""
                       ng-model="filter.date_term" is-open="opened_term"
                       ng-click="opened_term=true"
                       ng-change="get_allreq_after(true)" disabled>

                    <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                      ng-click="open_t($event)">
                  <i class="glyphicon glyphicon-calendar"></i>
              </button>
              <button class="btn btn-danger" type="reset"
                      ng-click="clean_date_search()">
                  <i class="glyphicon glyphicon-remove"></i>
              </button>
            </span>
            </p>

        </div>

    </div>

    <!-- Table -->


    <table class="table">
        <thead>
        <tr>
            <th class="col-md-2"><a href=""
                                    ng-click="get_allreq_after(true,'performer_not_admin__name')">Performer</a>
            </th>
            <th class="col-md-2"><a href=""
                                    ng-click="get_allreq_after(true,'applicant')">Applicant</a>
            </th>
            <th class="col-md-3"><a href=""
                                    ng-click="get_allreq_after(true,'request_text')">Text</a> <span
                    class="glyphicon glyphicon-list-alt"></span>
            </th>
            <th class="col-md-1"><a href=""
                                    ng-click="get_allreq_after(true,'date_supply')">Supply</a>
                <span class="glyphicon glyphicon-time"></span>
            </th>
            <th class="col-md-1"><a href=""
                                    ng-click="get_allreq_after(true,'date_term')">Term</a>
                <span class="glyphicon glyphicon-time"></span>
            </th>
            <th class="col-md-1"><a href=""
                                    ng-click="get_allreq_after(true,'n_request')">Request
                #</a>
            </th>
            <th class="col-md-1"><a href=""
                                    ng-click="get_allreq_after(true,'n_ready')">Ready</a>

            </th>
            <th class="col-md-1">Control</th>
        </tr>
        </thead>
        <tbody>


        <tr ng-repeat="item in requests_data | filter:search | orderBy:filter_table "
            ng-class="get_class_row(item)">
            <!-- Modal -->

            <td class="col-md-2"><span
                    class="glyphicon glyphicon-user"></span>

                <a href=""
                   ng-click="get_performer_detail(item.performer_not_admin.pk)"
                   data-toggle="modal"
                   data-target="#myModalrequests{{ item.performer_not_admin.pk }}">{{
                    item.performer_not_admin.name}}</a>
                {% endverbatim %}
                {% include 'request_rest_api/performer_requests.html' %}
                {% verbatim %}
            </td>
            <td class="col-md-2"> {{
                item.applicant }}
            </td>
            <td class="col-md-3">
                <a href="" data-toggle="modal"
                   data-target="#myModalfulltext{{ item.id }}">{{
                    item.request_text | limitTo:24 }}...</a>
                {% endverbatim %}
                {% include 'request_rest_api/modal_fulltext.html' %}
                {% verbatim %}

            </td>
            <td class="col-md-1">{{ item.date_supply }}</td>
            <td class="col-md-1">{{ item.date_term }}</td>
            <td class="col-md-1"><span class="label label-primary">{{ item.n_request }}</span>
            </td>
            <td class="col-md-1"><span ng-show="{{ item.n_ready }}"
                                       class="label label-success">{{ item.n_ready }}</span>
            <span ng-show="{{! item.n_ready }}"
                  class="label label-danger">NO</span>
            </td>
            <td class="col-md-1">
                <a href="#/edit_request/{{item.id}}">
                    <button class="btn btn-xs btn-primary"><span
                            class="glyphicon glyphicon-edit"></span>
                        <b>Edit</b>
                    </button>
                </a>
            </td>
        </tr>

        </tbody>
    </table>

</div>

{% endverbatim %}
