{% extends "main.html" %}
{% block content %}
    <div class="container">
        <div class="col-lg-3 col-lg-offset-4">
            <form class="form-signin" id="login_form" method="post"
                  action="/login/">
                {% csrf_token %}

                <h2 class="form-signin-heading">Please sign in</h2>
                {% if error %}

                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign"
                              aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Problem with login!
                    </div>
                {% endif %}
                <div class="control-group">
                    <label class="control-label" for="login">Login:</label>

                    <div class="controls">
                        <input size="50" name="username" id="username" value=""
                               type="text" class="form-control"
                               placeholder="Login">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"
                           for="password">Password:</label>

                    <div class="controls">
                        <input size="50" name="password" id="password" value=""
                               type="password" class="form-control"
                               placeholder="Password">
                    </div>
                </div>
                <label class="checkbox">
                    <input type="checkbox" name="save" value="">Remember
                    me</label>
                <button name="submit" id="submit" value="" type="submit"
                        class="btn btn-large btn-primary btn-block">Sign in
                </button>
            </form>
        </div>
    </div>
{% endblock %}