{% verbatim %}

<div class="modal fade" id="myModalfulltext{{ item.id }}" tabindex="-1"
                         role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close"
                                            data-dismiss="modal"
                                            aria-label="Close"><span
                                            aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        The full text of the request # <b>{{item.n_request}}</b></h4>
                                </div>
                                <div class="modal-body">
                                    {{item.request_text}}
                                </div>
                                <div class="modal-footer">
                                    <a id="rm_modal" class="btn pull-left btn-primary" href="#/edit_request/{{item.id}}"
                                            >
                                            Edit request
                                   </a>

                                    <button type="button"
                                            class="btn btn-default"
                                            data-dismiss="modal">Close
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endverbatim %}
