{% verbatim %}
<div class="modal fade" id="myModalrequests{{ item.performer_not_admin.pk }}"
     tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <span
                    class="glyphicon glyphicon-user"></span> <b>{{item.performer_not_admin.name}}</b> | Performer's requests:
                </h4>
            </div>
            <div class="modal-body">
                <b ng-repeat="r in perf_reqs.requests">
                    <a id="rm_modal" class="btn btn-xs btn-primary" href="#/edit_request/{{ r.id }}">

                            {{r.n_request}}
                        
                    </a>
                </b>
            </div>
            <div class="modal-footer">
                <b class="pull-left">Click on the requests to edit them</b>
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">Close
                </button>

            </div>
        </div>
    </div>
</div>
{% endverbatim %}