{% verbatim %}
<div ng-init="get_performers_detail()">
    <div class="row">
        <div class="col-md-3 col-lg-offset-4">
            <span class="glyphicon glyphicon-user"></span><b>Performer's search:</b>
<input placeholder="Performer name" class="form-control"
                   ng-model="filter.name"
                   ng-change="get_performers_detail()">
            </div>
   <!--  <select ng-model="filter.name" class="form-control"
                ng-options="p.name as p.name for p in performers_detail.results"
             ng-change="get_performers_detail()">
        </select> -->
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="col-md-2">Performer</th>
            <th class="col-md-10">Requests</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in performers_detail.results">
            <td class="col-md-2"><span class="glyphicon glyphicon-user"></span>
                {{p.name}}
            </td>
            <td class="col-md-10">
                <b ng-hide="p.requests"><span class="label label-danger">No requests</span></b>

                <div ng-repeat="r in p.requests">

                    <accordion close-others="oneAtATime">
                        <accordion-group heading="{{r.n_request}}">
                            <div class="row">
                                <div class="col-md-2"><span
                                        class="glyphicon glyphicon-user"></span>
                                    <b>Applicant:</b><br> {{r.applicant}}
                                </div>
                                <div class="col-md-2 col-md-offset-8"><b>Request
                                    #:</b><br> <span class="label label-info">{{r.n_request}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-10"><span
                                        class="glyphicon glyphicon-time"></span>
                                    <b>Date supply:</b><br> {{r.date_supply}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><b>Request text:</b><br>

                                    <div class="alert alert-info" role="alert">
                                        {{r.request_text}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-10"><span
                                        class="glyphicon glyphicon-time"></span>
                                    <b>Date term:</b><br> {{r.date_term}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><a
                                        href="#/edit_request/{{r.id}}">
                                    <button class="btn btn-primary"><span
                                            class="glyphicon glyphicon-edit"></span>
                                        <b>Edit</b>
                                    </button>
                                </a></div>
                                <div ng-show="r.n_ready"
                                     class="col-md-4 col-md-offset-10"><b>Ready
                                    request #:</b><br> <span
                                        class="label label-success">{{r.n_ready}}</span>
                                </div>
                                <div ng-hide="r.n_ready"
                                     class="col-md-4 col-md-offset-10"><span
                                        class="label label-danger">The request is not ready</span>
                                </div>
                            </div>


                        </accordion-group>
                    </accordion>
                </div>

            </td>
        </tr>


        </tbody>
    </table>

</div>
</div>


{% endverbatim %}
