.top-bar {
  @media (min-width: $screen-md) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  background: #e9edee;
  padding: 12px 0;
  border-bottom: 1px solid $base-border-color;
  font-size: 15px;
  font-weight: 600;
  color: #555555;
  a {
    color: #2c709f;
  }
  @media (max-width: $screen-xs) {
    .text-right {
      text-align: left !important;
      margin-top: 10px;
    }
  }
}